<h2>Categorias</h2>

<div class="card card-border-color card-border-color-primary">
  <div class="card-header card-header-divider">Inserir categorias</div>
  <div class="card-body">
    <form>
      <div class="form-group pt-2">
        <label for="inputEmail">Email address</label>
        <input id="inputEmail" type="email" placeholder="Enter email" class="form-control">
      </div>
      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input id="inputPassword" type="password" placeholder="Password" class="form-control">
      </div>
      <div class="row pt-3">
        <div class="col-lg-6 pb-4 pb-lg-0">
          <label class="be-checkbox custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"><span class="custom-control-label">Remember me</span>
          </label>
        </div>
        <select>
          <!-- <option *ngFor="let item of inativo |key"></option> -->
        </select>
        <div class="col-sm-6">
          <p class="text-right">
            <button type="submit" class="btn btn-space btn-primary" (click)="salvar()" >Salvar</button>
            <a class="btn btn-secondary" routerLink="../">Voltar</a>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>