<h2>Usuários</h2>

<div class="card card-border-color card-border-color-primary">
  <div class="card-header card-header-divider">{{tituloCard}} usuarios</div>
  <div class="card-body">
    <div *ngIf="mensagemRetorno" id="alerta-sucesso">
    <!-- <ngb-alert  [type]="'success'" (close)="mensagemRetorno = null">
      {{mensagemRetorno}}
    </ngb-alert> -->
  </div>
    <form [formGroup]="formularioUsuario" (submit)="salvar(formularioUsuario.value)" novalidate>
      <div class="form-group pt-2">
        <label for="codigo">Código</label>
        <input id="codigo" type="text" #campoFoco name="codigo" formControlName="Codigo" placeholder="Ex: 68542" class="form-control">
      </div>
      <div class="form-group pt-2">
        <label for="nome">Nome</label>
        <input id="nome" type="text" name="nome" required formControlName="Nome" placeholder="Ex: Calçados" class="form-control">
      </div>
      <div class="form-group pt-2">
        <label for="status">Status</label>
        <select id="status" name="status" formControlName="Status" class="form-control">
          <option value="0">Ativo</option>
          <option value="1">Inativo</option>
        </select>
      </div>
      <div class="col-sm-6">
        <p class="text-right">
          <button type="submit" class="btn btn-space btn-primary">Salvar</button>
          <a class="btn btn-secondary" [routerLink]="'/categorias'">Voltar</a>
        </p>
      </div>
    </form>
  </div>
</div>