<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item"> 
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <span class="ti-home"></span>
            Home <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/produtos']" routerLinkActive="active" >
            <span class="ti-bag"></span>
            Produtos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/categorias']" routerLinkActive="active" >
            <span class="ti-menu-alt"></span>
            Categorias
          </a>
        </li>
      </ul>
    </div>
  </nav>