<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Dashboard</h1>

</div>
<dx-pie-chart class="pie"
                  title="Water/Land Ratio"
                  palette="Soft Pastel"
                  sizeGroup="piesGroup"
                  [dataSource]="graficoCategoria">
        <dxi-series argumentField="name"
                    valueField="area">
            <dxo-label [visible]="true" ></dxo-label>
        </dxi-series>
        <dxo-legend verticalAlignment="bottom"
                    horizontalAlignment="center"
                    itemTextPosition="right"
                    [rowCount]="2">
        </dxo-legend>
    </dx-pie-chart>